argcomplete==2.0.0
asciinema==2.2.0
auto-editor==23.8.1
black==23.1.0
bpytop==1.0.68
chime==0.7.0
cmake==3.25.2
cookiecutter==2.1.1
isort==5.12.0
jupyter==1.0.0
jupyterlab==3.6.1
mkdocs==1.4.2
pdoc==13.0.0
pipx==1.1.0
poethepoet==0.18.1
poetryup==0.12.7
pre-commit==3.1.1
pydeps==1.11.1
pyinstaller==5.8.0
python-language-server==0.36.2
python-lsp-server==1.7.1
python-minifier==2.8.0
ret==0.1.4
ruff==0.0.253
shed==2023.2.1
shiv==1.0.3
thefuck==3.32
youtube-dl==2021.12.17
yt-dlp==2023.3.3
