/* === GENERAL BROWSER UI ================================================================================================== */

#browser {
    background: rgba(10, 10, 10, 0.1) !important; /* Increased opacity */
}
browser[transparent='true'] {
  background: rgba(255, 255, 255, 0) !important;
}

:root {
  --attention-dot-color: transparent !important;
}

#identity-icon-label[value="Extension (Bonjourr · Minimalist Startpage)"] {
    display: none !important;
}
