/* ICON CHANGER */


/* sets the expand sidebar svg */
#zen-sidepanel-button {
  list-style-image: url("https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/sidebar.svg") !important;
  scale: 1;
  margin-left: 1px !important;
  filter: brightness(var(--icon-brightness)) !important;
}



/* sets the history svg */
#history-panelmenu {
  list-style-image: url("https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/archive.svg") !important;
  scale: 0.9;
  padding-inline-start: 3px !important;
  height: 100 !important;
  filter: brightness(var(--icon-brightness)) !important;
}



/* ARC ICON FOR MENUBUTTON */

#PanelUI-menu-button {
  list-style-image: url('https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/arc-logo.svg') !important;
}



/* sets the expand sidebar svg */
#zen-sidepanel-button {
  list-style-image: url("https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/sidebar.svg") !important;
  scale: 1;
  margin-left: 1px !important;
  filter: brightness(var(--icon-brightness)) !important;
}