/* MORE ROUNDED TABS */


/* Hide attention icon (green dot) under tab icons - Reddit:  https://www.reddit.com/r/zen_browser/comments/1i1c4mt */
#navigator-toolbox {
  .tabbrowser-tab:is([image], [pinned])
> .tab-stack
> .tab-content[attention]:not([selected]),
  .tabbrowser-tab
> .tab-stack
> .tab-content[pinned][titlechanged]:not([selected]) {
    background-image: none !important;
  }
  .tabbrowser-tab
> .tab-stack
> .tab-content[titlechanged]:not([selected="true"]) {
    background-image: none !important;
  }
  --border-radius-medium: 11px !important;
  --tab-border-radius: 6px !important;
}
