/* URL BAR */

:root[zen-single-toolbar="true"] {
    .urlbar-addon-page-action {
        display: inherit !important;
    }
}

/* sets the linkly Extention to the arc copy link icon */
#pageAction-urlbar-copy-frame-url_jeffersonscher_com {
    list-style-image: url("https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/copy_link.svg") !important;
    scale: 1;
    filter: brightness(var(--icon-brightness)) !important;
}

/* Shield Button To The Left */
#tracking-protection-icon-container {
    order: 0 !important;
}
#identity-box {
    order: 0 !important;
    width: 28px;
}

#identity-icon-box {
    opacity: 1 !important;
    margin-left: 0 !important;
    transform: none !important;
}
.urlbar-input-container {
    padding-left: 4px !important; /* decrease this to move identity box more to left */
}
#identity-permission-box {
    display: none !important;
}

/* Floating URL bar transperency */

#urlbar[open] {
    & #urlbar-background {
        backdrop-filter: blur(20px) brightness(0.7) !important;
        /* background: rgba(0, 0, 0, 0.2) !important; */
        border-radius: 12px !important;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3) !important;
        border: 1px solid rgba(255, 255, 255, 0.15) !important;
    }
}

.urlbarView-row {
    &:hover {
        background: rgba(255, 255, 255, 0.1) !important;
    }
}

.urlbarView-body-inner {
    #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
        border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
    }
}

.urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
    border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
}

/* Floating URL Bar Blur background  */

#browser:has(#urlbar[open][zen-floating-urlbar="true"]) .browserContainer {
    pointer-events: none;
    filter: blur(10px) brightness(70%) !important;
}
